@model CMED_WEB.Models.Root
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    @foreach(var item in Model.interactionTypeGroup)
    {
          @item.sourceName
          @item.sourceDisclaimer
          
         

    }
  
    
</head>
<body>
</body>
</html>
